TEST_SINGLE_CAMERA_MODE=true
CAMERA_1_RTSP_URL="rtsp://username:password@camera-ip:554/stream1"
CAMERA_2_RTSP_URL=""
YOLO_MODEL="yolov8n.pt"
CUSTOM_YOLO_MODEL="models/best.pt"
DETECTION_CONFIDENCE=0.35
DETECTION_IMAGE_SIZE=640
DETECTION_FPS=5
ENABLE_LINE_COUNTING=true
LINE_X1=0
LINE_Y1=360
LINE_X2=1280
LINE_Y2=360
FRONTEND_ORIGIN="http://localhost:3000,http://192.168.1.8:3000,http://192.168.1.12:3000"
CAMERA_RECONNECT_SECONDS=3
ROBOFLOW_ETRIKE_EBIKE_DATASET_URL=
ROBOFLOW_ROAD_VEHICLES_DATASET_URL=
